

body {
  background-color: #91659c;
  font-family: 'PressStart2PRegular';
}



#game {
  width: 500px;
  height: 300px;
  border: 1px dashed black;
  margin: auto;
  padding: 30px;

  background-color: #e6bdf0;
}

/*  ~~~~~~~~~~~~~~~~~~ The character's styling & movement. ~~~~~~~~~~~~~~~~~~~~*/

#character {
  position: relative;
  width: 20px;
  height: 50px;
  top: 150px;       /* game frame - character's height. */
  background-color: ;

}

#character img {
  position: absolute;

  width: 110px;

  top: -20px;
  left: -30px;
}

/*
Jump animation makes the top position slide up 50px then back down.
Like, imagine a line over your head, like a grad cap.
*/

@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

.animate {
  animation: jump 300ms linear;     /* would ns be better? */
}

/* ~~~~~~~~~~~~~~~~~~~~ Block's styling & movement ~~~~~~~~~~~~~~~~~~~~ */

#block {
  width: 20px;
  height: 20px;
  background: blue;
  position: relative;
  top: 130px;         /* game height - character height - block height (200 - 50 - 20) */
  left: 480px;      /* game width - block width (500 - 20) */
  animation: block 2s infinite linear;
  animation-delay: 3s;
}
#block2 {
  width: 20px;
  height: 20px;
  background: pink;
  position: relative;
  top: 130px;         /* game height - character height - block height (200 - 50 - 20) */
  left: 480px;      /* game width - block width (500 - 20) */

  animation-delay: 1s;
  animation: block 2s infinite linear;
  animation-delay:1.5s;

}

@keyframes block{
    0%{left: 500px}
    100%{left: -20px}
}

/* ~~~~~~~~~~~~~~~~~~~~ Stuff for "extra-controls" ~~~~~~~~~~~~~~~~~~~~ */
.extra-controls {
  display: flex;
  flex-direction: column;

  border-top: 1px dashed #e6bdf0;
  margin-top: 10px;
}


.extras-header {
  display: flex;
 flex-direction: row-reverse;
 justify-content: center;

}

.extras-header h2 {

}

.extras-body {
  display: grid;
  grid-template-columns: 25% 25% 50%;

  border-top: 1px dashed #e6bdf0;
  margin-top: 10px;
}

.extras {
  display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
	text-align: center;
	width: 100%;
	height: 170px;

}


modes {

}


.checkbox-container {
	display: inline-block;
	position: relative;
}

.checkbox-container label {
	background-color: #e6bdf0;
	border: 1px solid #fff;
	border-radius: 20px;
	display: inline-block;
	position: relative;
	transition: all 0.3s ease-out;
	width: 45px;
	height: 25px;
	z-index: 2;
}

.checkbox-container label::after {
	content: ' ';
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 1.5px;
	left: 1px;
	transform: translateX(0);
	transition: transform 0.3s linear;
	width: 20px;
	height: 20px;
	z-index: 3;
}

.checkbox-container input {
	visibility: hidden;
	position: absolute;
	z-index: 2;
}

.checkbox-container input:checked + label + .active-circle {
	transform: translate(-50%, -50%) scale(15);
}

.checkbox-container input:checked + label::after {
	transform: translateX(calc(100% + 0.5px));
}
